<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="greetingController" class="com.spring.controller.GreetingController">
		<property name="helloWorldService" ref="helloWorldServiceDefault"></property>
		<property name="helloWorldServiceGerman" ref="helloWorldServiceGer"></property>
		<property name="helloWorldServiceFrench" ref="french"></property>
	</bean>
	
	<import resource="classpath:hello-config.xml"/>
</beans>
